$main-color: rgb(40, 44, 52);
$sec-color: rgb(50, 56, 66);
$tri-color: rgb(84, 92, 109);
$text-color: rgb(220, 227, 239);
$green-color: rgb(25, 195, 125);
$gray-color: rgb(158, 158, 158);
$banner-color: rgb(27, 31, 35);
$banner-text-color: rgb(255, 255, 255);

$bigger-border-radius: 1rem;
$standard-border-radius: 0.5rem;
$banner-size: 3rem;
$icon-size: 2.5rem;
